# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
# position_endstop: 0.0                     # disable to use BLTouch
# endstop_pin: ^PA7                         # disable to use BLTouch
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -5                        # enable to use BLTouch
position_max: 250

[safe_z_home]                         # enable for BLTouch
home_xy_position: 157.5,120.5
speed: 100
z_hop: 10
z_hop_speed: 5

[bltouch]                             # enable for BLTouch - fast-mode
sensor_pin: ^PB1                        # was sensor_pin: ^PA7 when on z-stop
control_pin: PB0
pin_up_touch_mode_reports_triggered: True
probe_with_touch_mode: True
x_offset: -40.1                         # modify as needed for bltouch location
y_offset: -8.5                          # modify as needed for bltouch location
#z_offset: 1.20                         # modify as needed for bltouch or run PROBE_CALIBRATE
speed: 10
samples: 3
sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3
speed: 10
samples: 2

[bed_mesh]
speed: 80
horizontal_move_z: 5
mesh_min: 18,18
mesh_max: 175,202
probe_count: 5,5
algorithm: bicubic

# manual Bed adjustment via BED_SCREWS_ADJUST
[bed_screws]
screw1: 30.5, 37.5
screw1_name: front left screw
screw2: 30.5, 207.5
screw2_name: rear left screw
screw3: 198.5, 123
screw3_name: middle right screw
# screw4: 28.5,205.5
# screw4_name: rear left screw
# horizontal_move_z: 10
# speed: 50

[screws_tilt_adjust]
screw1: 69.5, 45
screw1_name: front left screw
screw2: 69.5, 216
screw2_name: rear left screw
screw3: 234.5, 133
screw3_name: middle right screw
# screw4: 72.5,212.5
# screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[input_shaper]
shaper_freq_x: 27.027
shaper_freq_y: 35.3982
shaper_type: mzv

[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 X5 Y5 Z10 F6000
    BED_MESH_PROFILE save=default
    SAVE_CONFIG

[extruder]
max_extrude_only_distance: 100.0
max_extrude_cross_section: 5
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 30.485
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
pressure_advance: 0.36

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 750
max_accel: 4250
max_z_velocity: 10
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[exclude_object]

#[board_pins]
#aliases:
#  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>
#  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>
#  PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC6

# [include mainsail.cfg]
[include fluidd.cfg]
[include menu.cfg]
[include variables.cfg]
[include WIPE_LINE.cfg]
[include PREP_PRINT.cfg]
[include FINISH_PRINT.cfg]
[include TEST_SPEED.cfg]
[include KAMP_Settings.cfg]

[gcode_macro _CLIENT_VARIABLE]
    variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
    variable_custom_park_x    : 5.0   ; custom x position; value must be within your defined min and max of X
    variable_custom_park_y    : 5.0   ; custom y position; value must be within your defined min and max of Y
    #variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
    #variable_retract          : 1.0   ; the value to retract while PAUSE
    variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
    #variable_speed_retract    : 35.0  ; retract speed in mm/s
    #variable_unretract        : 1.0   ; the value to unretract while RESUME
    #variable_speed_unretract  : 35.0  ; unretract speed in mm/s
    #variable_speed_hop        : 15.0  ; z move speed in mm/s
    #variable_speed_move       : 100.0 ; move speed in mm/s
    variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
    variable_park_at_cancel_x : 5.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
    variable_park_at_cancel_y : 180.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
    ## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
    #variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
    #variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
    #variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
    ##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
    ## !!! Custom macros, please use with care and review the section of the corresponding macro.
    ## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
    ## Only  single line commands are supported, please create a macro if you need more than one command.
    #variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
    #variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
    #variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.055000, -0.023750, -0.011250, -0.022500, 0.002500
#*# 	-0.076250, -0.047500, -0.016250, -0.030000, 0.022500
#*# 	-0.072500, -0.042500, -0.000000, -0.031250, 0.013750
#*# 	-0.088750, -0.056250, -0.022500, -0.012500, 0.017500
#*# 	-0.090000, -0.052500, -0.017500, -0.018750, 0.022500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 18.0
#*# max_x = 175.0
#*# min_y = 18.0
#*# max_y = 202.0
#*#
#*# [bltouch]
#*# z_offset = 1.449
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.872
#*# pid_ki = 1.007
#*# pid_kd = 88.464
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.521
#*# pid_ki = 1.423
#*# pid_kd = 898.482
